html, body {
  overflow-x: hidden;
}

.center {
  margin: auto;
  max-width: 680px;
  width: 90%;
  padding: 0 16px;
  box-sizing: border-box;
}

a {
  word-break: break-word;
}

@media (max-width: 600px) {
  .center {
    width: 100%;
    padding: 0 12px;
  }

  body {
    font-size: 19px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 8px;
  }

}

.colored {
  background-color: #ffcc33
}

.otro {
   background-color: #ff9922
}